
<div class="header">
    <nav>
        <div class="nav-links">
              <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
              </ul>
          </div>
      </nav>
</div> 
<h1 class="title">Hospital map</h1>
<div class="container">
    <div id="svgDiv" class="mapa" text-align="left" style="height: 500px; width: 700px;">
    </div>
    <div [style.visibility]="formVisible" class="buildInfo">
        <h1 class="cardTitle">  Building information  </h1>
        <table style="margin-left:40px;">
            <mat-form-field appearance="fill">
                <mat-label>Building ID</mat-label>
                <input matInput disabled [value]="selectedBuilding.id">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Building name</mat-label>
                <input matInput [value]="selectedBuilding.name">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Floors</mat-label>
                <input matInput>
            </mat-form-field>
    </table>
    </div>
</div>

<h1>Building map overview</h1>

<svg id="rect"></svg>

