<div class="card-wrapper">
    <div class="card" (click)="navigate('/allergen-statistics')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="local_hospital"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Allergen Statistics</h2>
            <span>Statistics about allergens</span>
        </div>
    </div>
    <div class="card" (click)="navigate('/doctors-leave-statistics')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="sunny"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Leaves Statistics</h2>
            <span>Statistics about doctors annual leaves</span>
        </div>
    </div>
    <div class="card" (click)="navigate('/doctor-statistics')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="account_circle"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Doctor Popularity Statistics</h2>
            <span>Statistics about doctor popularity</span>
        </div>
    </div>
    <div class="card" (click)="navigate('/doctors-workload-statistics')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="account_circle"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Doctor Workload Statistics</h2>
            <span>Statistics about doctors appointments</span>
        </div>
    </div>
    <div class="card" (click)="navigate('/examination-report-statistics')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="feedback"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Examination Statistics</h2>
            <span>Examination Report </span>
        </div>
    </div>
    <div class="card" (click)="navigate('/scheduling-appointment-statistics')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="edit_calendar"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Scheduling Appointment</h2>
            <span>Statistics about scheduling</span>
        </div>
    </div>
    <div class="card" (click)="navigate('/renovation-statistics-schedule')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="domain"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Renovation Statistics</h2>
            <span>Renovation schedule</span>
        </div>
    </div>
</div>