<div class="card-wrapper">
    <div class="card">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="local_hospital" (click)="navigate('/allergen-statistics')"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Allergen Statistics</h2>
            <span>Statistics about allergens</span>
        </div>
    </div>
    <!-- <div class="card">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon" fontIcon="sunny"
                (click)="navigate('/allergen-statistics')"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Doctor Statistics</h2>
            <span>Statistics about allergens</span>
        </div>
    </div> -->
    <div class="card">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon" fontIcon="sunny"
                (click)="navigate('/doctor-leaves-statistics')"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Leaves Statistics</h2>
            <span>Statistics about allergens</span>
        </div>
    </div>
    <div class="card">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="account_circle" (click)="navigate('/doctor-statistics')"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Doctor Popularity Statistics</h2>
            <span>Statistics about allergens</span>
        </div>
    </div>
    <div class="card">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon" fontIcon="feedback"
                (click)="navigate('/examination-report-statistics')"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Examination Statistics</h2>
            <span>Examination Report </span>
        </div>
    </div>
</div>