<div class="calendar-outer">
    <div class="calendar-widget">
        <div class="create-btn">
            <a routerLink="/doctor/appointments/create">
                <button mat-raised-button color="primary">
                    <mat-icon fontIcon="add"></mat-icon>CREATE
                </button>
            </a>
        </div>
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar (selectedChange)="updateCalendar($event)" [(selected)]="selected"></mat-calendar>
        </mat-card>
    </div>

    <div class="calendar">
        <div class="calendar-corner">

        </div>
        <div class="calendar-header">
            <app-calendar-header-chunk *ngFor="let col of weekIntervals" [date]="col.date"></app-calendar-header-chunk>
        </div>
        <div class="calendar-side-header">
            <div class="side-header-chunk" *ngFor="let row of rows">
                <span class="header-text">
                    {{row}}
                </span>
            </div>
        </div>
        <div class="calendar-body">
            <app-loader [isLoading]="isLoading"></app-loader>
            <app-calendar-column *ngFor="let col of weekIntervals" [intervals]="col">
            </app-calendar-column>
        </div>
    </div>
</div>