
<h1 class="title">Floors</h1>
<div class="container">
<div id="svgDiv" class="mapa" text-align="left" style="height: 500px; width: 800px;"></div>

<div [style.visibility]="formVisible" class="build-info">
    <h1 class="card-title">  Floor information  </h1>
    <table style="margin-left:40px;">
        <mat-form-field appearance="fill">
            <mat-label>Floor ID</mat-label>
            <input matInput disabled [value]="selectedFloor.id">
            
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Floor Area</mat-label>
            <input matInput [value]="selectedFloor.area">
            
        </mat-form-field><br>
        
</table>
</div>
</div>

<button id="add-button" mat-fab color="primary" (click)="toggleCreate()">Add</button> 
