<div class="container">
  <div class="item-container item-container-left">
    <div id="svgDiv" class="mapa" text-align="left" style="height: 580px; width: 880px;">
    </div>
  </div>
  <div class="item-container item-container-right">
    <div class="floor-options-inner">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Description">
          <div class="description-content">
            <div *ngIf="selectedFloor === undefined">
              <mat-label class="add-data">Click on floor for additional data!</mat-label>
            </div>
            <div *ngIf="selectedFloor !== undefined" class="update-form">
              <mat-form-field appearance="fill">
                <mat-label>Floor </mat-label>
                <input matInput disabled [value]="selectedFloor.id">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Floor Area</mat-label>
                <input matInput [value]="selectedFloor.area.measure">
              </mat-form-field>
              <button class="confirmButton update-btn" mat-flat-button color="primary">
                Apply changes
              </button>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Renovation">
          <div class="option-container">
            <button mat-flat-button color="primary" (click)="toggleCreate()"
              class="renovation-buttons"><mat-icon>add</mat-icon>Add new floor
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Information">
          <div class="info-content">
            <span class="info">You are currently in building: <b>{{buildingId}}</b>.
              <br>
              In order to see further information about floor rooms, <b>double-click</b>
              on floor of interest.</span>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>