.example-form {
    margin-top: 30px;
    margin-bottom: 16px;
    display:flex;
    justify-content: center;
  }
  .example-full-width {
    width: 300px;
    margin-left: 10px;
  }
  .date-container {        
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #divChart{
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    width: 1000px;
    height: 500px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text-div{
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 18.813px;
    width: 50%;
    display: flex;
}
p{
    font-size: 20px!important;
    font-weight: bold!important;
    color: black !important;
    margin-top: auto!important;
    margin-bottom: auto!important;
}
.button{
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}