<mat-stepper [linear]="!isLinear" #stepper>

    <mat-step>
      <form>
        <ng-template matStepLabel>Define time slot</ng-template>
        
        <div>
            <mat-form-field appearance="fill" class="form-data">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate placeholder="Start date" [(ngModel)]="timeSlotDto.startDate" name="pickStart">
                <input matEndDate placeholder="End date" [(ngModel)]="timeSlotDto.endDate" name="pickEnd">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill" class="form-data">
              <mat-label>Duration (in days)</mat-label>
              <input matInput [(ngModel)]="timeSlotDto.duration" name="dur" required>
            </mat-form-field> 
          </div>
          <div>
            <button mat-button class="quit-button" (click)="abortRenovation()" (click)="addEvent(5)" style="margin-top: 3%;">Quit</button>
            <button mat-button class="next-button" matStepperNext (click)="getFreeAppointments()" (click)="addEvent(1)">Next</button>
          </div>
      </form>
    </mat-step>

    <mat-step>
        <form id="secondStep" >
          <ng-template matStepLabel>Choose a free appointment</ng-template>
          <div>
            <mat-form-field class="form-data">
            <mat-label>Select Time Interval</mat-label>
            <mat-select [(value)]="selectedInterval">
              <mat-option *ngFor="let interval of intervals" [value]="interval" > {{formatDate(selectedInterval.start)}} - {{formatDate(selectedInterval.end)}}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button mat-button class="quit-button" (click)="abortRenovation()" (click)="addEvent(5)" style="margin-top: 23%;">Quit</button>
            <button mat-button matStepperPrevious class="step-button">Back</button>
            <button mat-button matStepperNext class="step-button" (click)="addEvent(2)">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form id="thirdStep">
          <ng-template matStepLabel>Fill in the data for new rooms</ng-template>
          <div>
              <mat-form-field appearance="fill" class="form-data">
                <mat-select (selectionChange)="checkThirdStepInput()" [(ngModel)]="producedRoomType1" name="producedRoomType1">
                    <mat-option [value]="option" *ngFor="let option of availableRoomTypes">{{getOptionLabel(option)}}</mat-option>
                </mat-select>
              </mat-form-field>
           </div>
          <div>
            <button mat-button class="quit-button" (click)="abortRenovation()" (click)="addEvent(5)" style="margin-top: 23%">Quit</button>
            <button mat-button matStepperPrevious class="step-button" style="margin-left: 7%;">Back</button>
            <button mat-button matStepperNext class="step-button" (click)="approveRenovation()" (click)="addEvent(3)">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form id="fourthStep">
          <ng-template matStepLabel>Confirm data for split</ng-template>
          <div>
           <div class="data-container">
            <label class="data-view">Selected room for split: {{splitDto.mainRoomId}}</label>
           </div>
           <div class="data-container">
            <label class="data-view">Selected interval: {{formatDate(selectedInterval.start)}} - {{formatDate(selectedInterval.end)}}</label>
           </div>
           <div class="data-container">
            <label class="data-view">Result of renovation are rooms: {{splitDto.roomName}} and  {{splitDto.mainRoomId}} </label>
           </div>
           <div>
            <button mat-button class="quit-button" (click)="abortRenovation()" (click)="addEvent(5)" style="margin-top: 82%;">Quit</button>
            <button mat-button matStepperPrevious class="step-button">Back</button>
            <button mat-button class="confirm-button" (click)="updateEvent()">Schedule</button>
           </div>
        </div>
        </form>
      </mat-step>

</mat-stepper>
