#add-button {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 24px;
    width: 100px;
    height: 100px;
}

#createBuildingForm {
    position: absolute;
    top: 15%;
    left: 5%;
}
