<div></div>

<div>
  <mat-card class="card-app">
    <mat-card-header>
      <mat-card-title>Room information</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <table style="margin-left:40px;">

        <mat-form-field appearance="fill">
            <mat-label>Room ID</mat-label>
            <input matInput disabled  [value]="selectedObjects.id">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Room name</mat-label>
            <input matInput [value]="selectedObjects.name">
        </mat-form-field><br>
        <button  class="button-2" id="schedule-button" (click)="roomSchedule(selectedObjects.id)"  ><span>Room schedule</span> </button>
        <button class="button-2"  (click) ="roomSchedule(selectedObjects.id)">
          Submit
      </button>
  
  </table>
    </mat-card-content>

  </mat-card>
    
    <div>
        
            
          <mat-form-field appearance="outline">
            <input matInput placeholder="Equipment name" [(ngModel)]="searchEquipmentInput.name">
          </mat-form-field>
          <mat-form-field >
          <input   appearance="outline"  type="number" matInput class="quantity-search" [(ngModel)]="searchEquipmentInput.quantity" min="0">
        </mat-form-field>
          <button class="button-2" (click)="searchEquipmentInRoom()">Search</button>
      
             <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Equipment name  </th>
                <td mat-cell *matCellDef="let equipment"> {{equipment.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity  </th>
                <td mat-cell *matCellDef="let equipment"> {{equipment.quantity}} </td>
              </ng-container>

            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    </div>
</div>
<div>



</div>

