<div class="card-wrapper">
  <div class="card" (click)="navigate('/room-schedule/'+roomId)">
      <div class="img-holder">
          <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
              fontIcon="calendar_today"></mat-icon>
      </div>
      <div class="content-holder">
          <h2>Room schedule</h2>
          <span>Create new event</span>
      </div>
  </div>
  <div class="card" (click)="navigate('/equipment-search/'+roomId)">
      <div class="img-holder">
          <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
              fontIcon="search"></mat-icon>
      </div>
      <div class="content-holder">
          <h2>Equipment</h2>
          <span>See all invitation requests</span>
      </div>
  </div>
</div>
