<div class="login-wrapper">
    <div class="login">
        <div class="left-side">
            <div class="form-inner">
                <div class="title-wrapper">
                    <h1>Welcome!</h1>
                    <small>Login to levi five hospital!</small>
                </div>
                <div class="input-wrapper">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username..." [(ngModel)]="caughtEmail">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" color="accent" placeholder="Password..."
                            [(ngModel)]="caughtPassword">
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" (click)="logIn()">Sign In</button>
            </div>
        </div>
        <div class="right-side">
            <picture>
                <img src="../../../assets/surgeon.jpg" alt="">
            </picture>
        </div>
    </div>
</div>