.login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  height: 80%;
  width: 60%;
  display: flex;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.right-side picture {
  width: 100%;
  height: 100%;
}

.right-side picture img {
  width: 100%;
  height: 100%;
}
.left-side, div.right-side {
  flex: 1;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  gap: 30px;
}

.form-inner .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.form-inner .input-wrapper .mat-form-field {
  width: 100%!important;
  min-height: 50px!important;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

small {
  color: gray;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
}


button {
  width: 100%;
  height: 50px;
  font-size: 18px;
}

@media only screen and (max-width: 2056px) {
  .login {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .right-side {
    display: none;
  }
}

/* 
.center {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
  }
.header{
    font-weight: 700;
    font-size: 3rem; 
    line-height: 1;
    text-align: center;
    padding-bottom: 48px;
  }
  textarea{
    background-color: #cbd5e1;
    width: 100%;
    height: 10rem;
    border-radius: 6px;
  }
  Button {
    font-size: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
  }
  Button:hover{
    background-color: #22d3ee;
    transition: 0.2s;
  }
  input.checkbox{
    width : 20px;
    height :20px;
    margin-right: 16px;
    vertical-align: middle;
    margin-top: 0px;
  }
  p.checkbox{
    font-size: 1.125rem; 
    line-height: 1.75rem; 
    height: 100%;
  }
   */
