<div class="medical-record-view">
    <app-loader [isLoading]="isLoading"></app-loader>

    <div class="create-btn">
    <button id="create-button" mat-raised-button color="primary"  (click)="showCreateForm()">
      <mat-icon>add</mat-icon>
      CREATE
    </button>
    </div>
    <div class="header-table-wrapper">
    <app-medical-record-header [medicalRecord]="medicalRecord" (create)="openCreate()" (search)="search($event)">
    </app-medical-record-header>
    <table class="hosp-items">
        <thead>
            <tr>
                <th *ngFor="let column of columns">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hosp of hospitalizations">
                <td>
                    {{hosp.id}}
                </td>
                <td>
                    {{format(hosp.startTime)}}
                </td>
                <td>
                    <span *ngIf="hosp.endTime == null" href="">Not Finished</span>
                    <span *ngIf="hosp.endTime != null">{{format(hosp.endTime)}}</span>
                </td>
                <td>
                    <a *ngIf="hosp.pdfUrl.trim() !== ''" [href]="hosp.pdfUrl">preview</a>
                    <span class="action-link" *ngIf="hosp.pdfUrl.trim() === '' && hosp.endTime != null"
                        (click)="generateReport(hosp.id)">generate</span>
                    <span *ngIf="hosp.pdfUrl.trim() === '' && hosp.endTime == null" href="">Not Finished</span>
                </td>
                <td>
                    <span class="state-wrapper" *ngIf="hosp.state == 0">
                        <span class="dot"></span>
                        <span class="state-wrapper-text">
                            Active
                        </span>
                    </span>
                    <span class="state-wrapper" *ngIf="hosp.state == 1">
                        <span class="dot gray-dot">
                        </span>
                        <span class="state-wrapper-text">
                            Finished
                        </span>
                    </span>
                </td>
                <button mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="finishHospitalization(hosp.id)">
                        <mat-icon>notifications_off</mat-icon>
                        <span>Finish</span>
                    </button>
                    <button mat-menu-item (click)="showPrescribedTherapies(hosp.id)">
                        <span>Show therapies</span>
                    </button>
                    <span *ngIf="hosp.state == 0">
                        <button mat-menu-item>
                            <span (click)="prescribeTherapies(hosp.id)">Give therapy</span>
                        </button>
                    </span>
                </mat-menu>
            </tr>
        </tbody>
    </table>
    </div>
    <app-create-hospitalization-form (closeModalEmitter)="closeCreate()" *ngIf="showCreate"
        (createSuccess)="getHospitalizations()">
    </app-create-hospitalization-form>
</div>
