<div class="wrapper">
    <div class="inputs">
        <mat-form-field appearance="outline" fxFlex="80">
            <mat-select [(ngModel)]="searchRoomDTO.roomType" (selectionChange)="changedRoomType(option)"
                placeholder="Choose room type">
                <mat-option [value]="option"
                    *ngFor="let option of availableRoomTypes"><span>{{getOptionLabel(option)}}</span></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="20">
            <input matInput placeholder="Search rooms" [(ngModel)]="searchRoomDTO.roomName" (keyup)="searchRoomsText()">
        </mat-form-field>
    </div>
    <section>
        <div class="rooms">
            <div *ngFor="let r of rooms" class="room-item" (click)="highlightRoom(r.id)">
                Room Number: {{r.roomNumber}}
            </div>
        </div>
    </section>
</div>