<div>
    <div style="font-size: 12px">
    <mat-form-field appearance="outline" fxFlex="80" style="height:50px; margin-right:20px">
        <mat-select [(ngModel)]="searchRoomDTO.roomType" (selectionChange)="changedRoomType(option)">
            <mat-option [value]="option" *ngFor="let option of availableRoomTypes"><span>{{getOptionLabel(option)}}</span></mat-option>
            
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="20">
        <input matInput placeholder="Search rooms" [(ngModel)]="searchRoomDTO.roomName" (keyup)="searchRoomsText()">
        </mat-form-field>
        </div>
<section>

<ul class="list">
    <li *ngFor="let r of rooms" id="r.roomNumber" (click)="highlightRoom(r.id)">
    
{{r.id}} {{r.roomNumber}} <button style="margin-left:100px" (click)="openSearchForEquipment(r.id)">Room equipment</button>
    </li>
</ul>
</section>
</div>
