<div class="container">
    <div class="table-header">
        <p class="table-title">Rooms</p>
        <button class="add-button" mat-mini-fab matTooltip="New room" matTooltipPosition="right" (click)="addRoom()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> room Number </th>
            <td mat-cell *matCellDef="let room" class="clickable cell-center" (click)="chooseRoom(room.id)">{{room.roomNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Floor </th>
            <td mat-cell *matCellDef="let room" class="cell-center">{{room.floor}}</td>
        </ng-container>
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let room" class="cell-center">
                <button mat-icon-button (click)="updateRoom(room.id)">
                    <mat-icon matTooltip="update">edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let room" class="cell-center">
                <button mat-icon-button (click)="deleteRoom(room.id)">
                    <mat-icon matTooltip="delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
