
<div class="container">
<div class="graph">
    <canvas id="doctor-graph"></canvas>
</div>
<div class="input-wrapper">
    <h2 class="input-text">Choose age group you want to see statistics from</h2>
    <mat-form-field appearance="fill">
        <mat-label>From age</mat-label>
        <input matInput type="number" min="0" max="300" [(ngModel)]="fromAge" (blur)="agesFocusOut()">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>To age</mat-label>
        <input matInput type="number" min="0" max="300" [(ngModel)]="toAge" (blur)="agesFocusOut()">
    </mat-form-field>
        <button mat-stroked-button (click)="changeStatistics()">Submit</button>
</div>
</div>