<div class="graph-wrapper">
    <div class="full-canvas-wrapper">
        <app-loader [isLoading]="hourStatsLoading"></app-loader>
        <canvas baseChart [type]="'line'" [data]="hourStatsData" [options]="hourStatsOptions"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="succUnsuccLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="succUnsuccData" [options]="succUnsuccOptions"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="stepStatsLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="stepStatsData" [options]="stepStatsOptions"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="avgMinMaxLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="avgMinMaxData" [options]="avgMinMaxOptions"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="succUnsuccSpecLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="succUnsuccSpecData" [options]="succUnsuccSpecOptions"></canvas>
    </div>


</div>