<div class="container">
  <div class="item-container item-container-left">
    <div id="svgDiv" class="mapa" style="height: 580px; width: 880px;">
    </div>
  </div>
  <div class="item-container item-container-right">
    <div>
      <div>
        <mat-tab-group mat-tabs-stretch>
          <mat-tab label="Room search">
            <app-search-rooms (newItemEvent)="highlight($event)" (emit)="openRoomEquipmentSearch($event)"
              [floorID]="floorId"></app-search-rooms>
          </mat-tab>
          <mat-tab label="Equipment search">
            <div class="eq-search">
              <mat-form-field appearance="fill" class="eq-search-field">
                <mat-label>Equipment name</mat-label>
                <input matInput placeholder="Equipment name" [(ngModel)]="searchFloorInput.name">
              </mat-form-field>
              <mat-form-field appearance="fill" class="eq-search-field">
                <mat-label>Equipment Quantity</mat-label>
                <input matInput placeholder="Enter Number of items" [(ngModel)]="searchFloorInput.quantity">
              </mat-form-field>
              <button class="eq-search-btn" mat-raised-button color="primary"
                (click)="searchRoomsByFloorContainigEquipment()">
                Search</button>
            </div>
            <div>
              <ul class="list">
                <li *ngFor="let room of searchedRooms">{{room.id}} - {{room.roomNumber}}</li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Renovation">
            <div class="option-container">
              <button mat-flat-button color="primary" (click)="toggleCreate()" class="renovation-buttons">
                <mat-icon>add</mat-icon>Add new room
              </button>
              <button mat-flat-button color="primary" (click)="toggleMerge()" class="renovation-buttons">
                <mat-icon>call_merge</mat-icon>Merge rooms
              </button>
              <button mat-flat-button color="primary" (click)="toggleSplit()" class="renovation-buttons">
                <mat-icon>call_split</mat-icon>Split room
              </button>
            </div>
          </mat-tab>
          <mat-tab label="Information">
            <div class="info-content">
              <span class="info">In order to see further information about building floors,
                <b>double-click</b> on building of interest.
                If you have trouble finding your way around our hospital, use
                <b>navigation.</b><br>
                Select building by <b>clicking</b> on it and choose source and destiniation room. <br>
                After that, <b>double-click</b> on selected building. Text navigation will appear in 'Information' of
                room map
              </span>
              <div class="navigation-container" *ngIf="!navigation">
                <mat-list *ngFor="let item of textNavigation">
                  <mat-list-item *ngIf="item === textNavigation[0] || item === textNavigation.slice(-1)[0]"><mat-icon>
                      location_on</mat-icon>{{item}}</mat-list-item>
                  <mat-list-item *ngIf="item !== textNavigation[0] && item !== textNavigation.slice(-1)[0]"
                    class="navigation-text">{{item}}</mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>