
.build-info {
    text-align: center;
    width: 300px;
    margin-left: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f0fdfa;
    border-radius: 10px;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: #1c1c1c;
    margin-bottom: 40px;
    line-height: 50px;
    width: 90%;
}
.right-side{
    text-align: right;
    font-weight: 800;
    font-size: 15px;
    color: #000;
    width: 350px;
}
.card-title{
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    width: 350px;
    color: rgb(0, 0, 0);
}
.header{
    top: 5;
    left: 5;
    width: 100%;
    background: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    font-weight: 800;
    font-size: 20px;
    width: 350px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;  
    height: 3px;
    background-color: #0891b2;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.mapa{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #0891b2;
    border-radius: 10px;
}
.container{
   display: flex;
   flex-wrap: wrap;
}

#add-button {
    position: absolute;
    margin-left:15px;
    margin-top: 20px;
    font-size: 24px;
    width: 100px;
    height: 100px;
}

.table-container{
    margin-top: 5%;
    margin-left: 52%;
}

.searchBtn{
   margin-left: 11%;
}

.quantity-search{
    margin-left: 3%;
    height: 40px;
    border-radius: 12px;
    border-color: #eee;
}

#equipment-view{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#equipment-view td, #equipment-view th{
    border: 1px solid #ddd;
    padding: 8px;
    width: 190px;
}

#equipment-view th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0891b2;
}

.room-search-container{
    margin-top: 5%;
    margin-left: 52%;
}


.option-container{
    display: inline-block;
    margin-left: 100px;
}

#merge-button{
    position: absolute;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 24px;
    width: 100px;
    height: 100px;
}

#split-button{
    position: absolute;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 24px;
    width: 100px;
    height: 100px;
}
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.navigation-container{
    width: 650px;
    height: 250px;
    margin-right: 5%;
    align-items: center;
    font-size: 12px;
    margin-left: 2%;
    overflow: auto;
    overflow-x: hidden;
}

.navigation-text{
    list-style-position: inside;
    padding: 0;
    border-left: solid 2px black;
}

.item-container{
  flex-basis: 100px;
  height: 800px;
  margin: 5px;
}

.renovation-buttons{
    width: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
