<div class="container">
  
  <div class="item-container" style="margin-top: 10px;">
  <div id="svgDiv" class="mapa" text-align="left" style="height: 500px; width: 800px;">
  </div>
  </div>

  <div class="item-container" style="position: absolute; right: 0px;">
    <div style="margin-left: 20px; height:650px; width:650px; border-left: solid 3px #232629;">
      <div style="float: left; height: 400px; width: 650px;">
      <h2 class="title">Room map</h2>
      <mat-tab-group>
        <mat-tab label="Room search" style="margin-bottom:40px">
         <app-search-rooms style="margin-bottom:40px; margin-left:40px; margin-top: 30px;" (newItemEvent)="highlight($event)"
          (emit)="openRoomEquipmentSearch($event)" [floorID]="floorId">

         </app-search-rooms>
        </mat-tab>
        <mat-tab label=" Equipment search">
          <div style="display: inline-block; overflow: hidden;">

          <div style="margin-top: 20px;display: inline-block; margin-right: 5px;">
            <mat-form-field appearance="outline" style="width:200px; margin-right:10px; height: 10px;">
              <input matInput placeholder="Equipment name" [(ngModel)]="searchFloorInput.name" style="font-size: 12px;">
            </mat-form-field>
          </div>
          <div style="display: inline-block; margin-top: 20px; margin-left: 10px;">
            <input type="number" matInput style="border: solid 0.5px;border-radius:5px; width:80px; height:40px; border-color:black"
              [(ngModel)]="searchFloorInput.quantity" min="0">
          </div>
          <div style="display: inline-block; margin-top: 20px; margin-left: 10px;"><button class="button-2" (click)="searchRoomsByFloorContainigEquipment()">Search</button></div>

          <div>
            <ul class="list">
              <li *ngFor="let room of searchedRooms">{{room.id}} {{room.roomNumber}}</li>
            </ul>
          </div>
         </div>
        </mat-tab>
        <mat-tab label="Renovation">
         <div class="option-container">
          <div><button  mat-flat-button color="primary" (click)="toggleCreate()" class="renovation-buttons"><mat-icon>add</mat-icon>Add new room</button></div>
          <div><button  mat-flat-button color="primary" (click)="toggleMerge()" class="renovation-buttons"><mat-icon> call_merge</mat-icon>Merge rooms</button></div>
          <div><button  mat-flat-button color="primary" (click)="toggleSplit()" class="renovation-buttons"><mat-icon> call_split</mat-icon>Split room</button></div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          <label>Info</label>
        </ng-template>
        <div style="margin: 10px">
          <label style="font-size: 20px;">You are currently on floor: {{floorId}}</label><br>
        </div>
        <div style="margin: 10px">
          <label style="font-size: 20px;">In order to see further information about specific room, <b>duoble-click</b> on room of interest</label>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  
  <div style="float: left;clear: left; height: 250px; width: 650px;">
    <div class="navigation-container" *ngIf="!navigation">
      <label style="font-size: 18px; text-align: center; margin-left: 30px;">Navigation tips:</label>
          <mat-list *ngFor="let item of textNavigation" style="margin-left: 25px;" >
            <mat-list-item *ngIf="item === textNavigation[0] || item === textNavigation.slice(-1)[0]"><mat-icon> location_on</mat-icon>{{item}}</mat-list-item>
            <mat-list-item *ngIf="item !== textNavigation[0] && item !== textNavigation.slice(-1)[0]" class="navigation-text">{{item}}</mat-list-item>
          </mat-list>
    </div>
  </div>
   
  </div>

</div>


</div>

    
    <div *ngIf ="selectedRoomModel">
        <h1 class="card-title">  Room information  </h1>
        <table style="margin-left:40px;">
            <mat-form-field appearance="fill">
                <mat-label>Room ID</mat-label>
                <input matInput disabled [value]="selectedRoomModel.id">
            </mat-form-field><br>
            <mat-form-field  appearance="fill">
                <mat-label>Room name</mat-label>
                <input id="roomNameInput" matInput [(ngModel)]="selectedRoomModel.roomNumber">
            </mat-form-field><br>
            <button mat-stroked-button (click)="roomSchedule(selectedObjects.id)"><span>Room schedule</span> </button>

  </div>
