
.buildInfo {
    text-align: center;
    width: 300px;
    margin-left: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f0fdfa;
    border-radius: 10px;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: #1c1c1c;
    margin-bottom: 40px;
    line-height: 50px;
    width: 90%;
}
.rightSide{
    text-align: right;
    font-weight: 800;
    font-size: 15px;
    color: #000;
    width: 350px;
}
.cardTitle{
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    width: 350px;
    color: rgb(0, 0, 0);
}
.header{
    top: 5;
    left: 5;
    width: 100%;
    background: #fff;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    font-weight: 800;
    font-size: 20px;
    width: 350px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;  
    height: 3px;
    background-color: #0891b2;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.mapa{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #0891b2;
    border-radius: 10px;
}
.container{
   align-items: center;
   display: flex;
   justify-content: center
}

#add-button {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 24px;
    width: 100px;
    height: 100px;
}
