<div class="blood-order-view">
    <div class="template-form-title h3">
        <h3>Blood orders view</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of columns">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of bloodOrders">
                <td>
                    {{order.position}}
                </td>
                <td>
                    {{order.bloodType}}
                </td>
                <td>
                    {{order.quantity}}
                </td>
                <td>
                    {{format(order.orderDate)}}
                </td>
                <td class="reason">
                    {{order.reason}}
                </td>
                <td>
                    {{order.doctorFullName}}
                </td>
            </tr>
        </tbody>
    </table>
</div>