<app-template-form [title]="title" [error]="error">
  <mat-form-field inputs appearance="fill">
    <mat-label>Select Patient</mat-label>
    <mat-select [(value)]="selectedPatientId" >
      <mat-option *ngFor="let patient of patients"
      [value]="patient.id+''">
        {{patient.name + ' ' + patient.surname}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field inputs appearance="fill">
    <mat-label>Select Room</mat-label>
    <mat-select >
      <mat-option *ngFor="let room of rooms"
                  [value]="room.id">
        {{room.roomNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field inputs appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="date">
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>


  <mat-form-field inputs>
    <mat-label>From </mat-label>
    <input [ngModel]="from" matInput type="time">
  </mat-form-field>


<!--  <mat-form-field inputs appearance="fill">-->
<!--    <mat-label>To</mat-label>-->
<!--    <input matInput  [ matDatepicker]="toDT">-->
<!--    <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--    <mat-datepicker-toggle matSuffix [for]="toDT"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #toDT></mat-datepicker>-->
<!--  </mat-form-field>-->

  <button mat-raised-button color="primary" buttons>CREATE</button>
</app-template-form>
