<div class="card-wrapper">
    <div class="card" (click)="navigate('/invitation')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="insert_invitation"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>New team building event</h2>
            <span>Create new event</span>
        </div>
    </div>
    <div class="card" (click)="navigate('/invitation-list')">
        <div class="img-holder">
            <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                fontIcon="list"></mat-icon>
        </div>
        <div class="content-holder">
            <h2>Invitation list</h2>
            <span>See all invitation requests</span>
        </div>
    </div>
</div>
