.graph-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 20px;
    padding: 50px 0;
}

.canvas-wrapper { 
    position: relative;
}

.canvas-wrapper {
    max-height: 400px;
    min-width: 45%;
}

.full-canvas-wrapper {
    position: relative;
    min-width: calc(90% + 20px);
    max-width: calc(90% + 20px);
    max-height: 400px;
    min-height: 400px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }