<div class="graph-wrapper">
    <div class="canvas-wrapper">
        <app-loader [isLoading]="averageScheduleDurationLoading"></app-loader>
        <canvas id="bar-chart-schedule-duration"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="averageStepCountLoading"></app-loader>
        <canvas id="bar-chart-step-count"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="stepsDurationMergeLoading"></app-loader>
        <canvas id="bar-chart-merge-steps"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="stepsDurationSplitLoading"></app-loader>
        <canvas id="bar-chart-split-steps"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="averageStepMergeLoading"></app-loader>
        <canvas id="doughnut-chart-merge"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="averageStepSplitLoading"></app-loader>
        <canvas id="doughnut-chart-split"></canvas>
    </div>
</div>
