.enable-intervals {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 5px;
    align-items: flex-start;
    padding-top: 10px;
    font-size: 20px;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 25px;height: 25px;}

::ng-deep .regular.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #039BE5 !important;
}

::ng-deep .regular.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:#039BE5;
}

::ng-deep .exam.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #AD1457 !important;
}

::ng-deep .exam.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #AD1457;
}

::ng-deep .cons.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #33B679 !important;
}

::ng-deep .cons.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #33B679;
}
