<mat-toolbar class="nav">
    <a routerLink="building-map" >Hospital map</a>
    <a routerLink="annual-leave" >Annual leave requests</a>
    <a routerLink="feedback" >Feedbacks</a>
    <a routerLink="allergen-statistics" >Allergen statistics</a>
    <a routerLink="doctor-statistics" >Doctor popularity statistics</a>
    <a mat-menu-item routerLink="doctors-leave-statistics" >Doctors leaves statistics</a>
    <a routerLink="rooms" >Rooms</a>
    <a (click)="onLogout()">Logout</a>
  </mat-toolbar>
<router-outlet></router-outlet>