<div style="font-size:large;margin-top:15px">
 <p style="font-size:50px;text-align: center;">Invitation requests</p> 
</div>
<div style="width:800px;height:700px;margin-left: 300px; margin-top: 150px;">
  <mat-list style="width:800px;height:700px">
    <mat-list-item *ngFor="let request of invitationRequests" style="height:130px">
      <div>

        <div><p style="font-weight:bold">{{request.doctorName}}</p></div>
        <div>
          <p style="font-weight:bold">
        {{request.title}}  {{request.startAt}}- {{request.endAt }} </p>
        <p style="color:grey">{{request.reason}}</p>
        <button id="{{ 'object-'+request.invitationStatus}}">{{getOptionLabel(request.invitationStatus)}}</button>
      </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>
</div>