<div style="font-size:large;margin-top:15px">
 <p style="font-size:50px;text-align: center;">Invitation requests</p> 
</div>
<div>
<table class="styled-table" style="width:1000px;margin-left:100px;margin-top:100px">
  <thead>
    <tr>
      
      <th>Doctor</th>
      <th>Event</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of invitationRequests">
      <td><p>{{request.doctorName}}</p></td>
      <td> <p >
        {{request.title}}   </p></td>
        <td>{{request.startAt}}- {{request.endAt }}</td>
        <td><button id="{{ 'object-'+request.invitationStatus}}">{{getOptionLabel(request.invitationStatus)}}</button></td>
    </tr>
  </tbody>
</table>
</div>