#object-0{
    color:rgb(46, 140, 23);
    border-radius:12px;
    background-color: rgb(72, 224, 72);
    margin-left: 500px;
    margin-bottom: 30px;
    width: 150px;
    height: 40px;
    border:0px
}
#object-1{
    color:rgb(173, 46, 46);
    background-color: indianred;
    border-radius:12px;
    margin-left: 500px;
    margin-bottom: 30px;
    width: 150px;
    height: 40px;
    border:0px
}
#object-2{
    color:rgb(169, 129, 27);
    background-color: rgb(237, 189, 69);
    border-radius:12px;
    margin-left: 500px;
    margin-bottom: 30px;
    width: 150px;
    height: 40px;
    border:0px
}