<div class="form-wrapper">
    <form [formGroup]="giveBloodTherapyForm" class="template-form-box">
        <div class="template-form-title">
            <h3>{{title}}</h3>
        </div>
        <div>
            <mat-form-field inputs appearance="fill">
                <mat-label>Select blood type</mat-label>
                <mat-select formControlName="bloodType">
                    <mat-option *ngFor="let blood of allBlood" value={{blood.bType}}> {{blood.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity" />
            </mat-form-field>
        </div>
        <div class="template-form-button">
            <button mat-raised-button color="primary" buttons (click)="createBloodTherapy()">
                Prescribe
            </button>
        </div>
    </form>
</div>