<div class="container">
  <div class="item-container item-container-left">
    <app-navigation *ngIf="selectedBuilding" [selectedBuilding]="selectedBuilding.id"></app-navigation>
    <div id="svgDiv" class="mapa" text-align="left" style="height: 580px; width: 880px;"></div>
  </div>
  <div class="item-container item-container-right">
    <div>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Description">
          <div class="description-content">
            <div *ngIf="selectedBuilding === undefined">
              <mat-label class="add-data">Click on a building for additional data!</mat-label>
            </div>
            <div *ngIf="selectedBuilding !== undefined" class="update-form">
              <mat-form-field appearance="fill">
                <mat-label>Building No.</mat-label>
                <input matInput disabled [value]="selectedBuilding?.id">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Building name</mat-label>
                <input matInput [value]="selectedBuilding?.name">
              </mat-form-field>
              <button class="confirmButton" mat-flat-button color="primary" (click)="updateBuilding()">
                Apply changes
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Renovation">
          <div class="option-container">
            <div><button mat-flat-button color="primary" (click)="toggleCreate()"
                class="renovation-buttons"><mat-icon>add</mat-icon>Add new building</button></div>
          </div>
        </mat-tab>
        <mat-tab label="Information">
          <div class="info-content">
            <span class="info">In order to see further information about building floors,
              <b>double-click</b> on building of interest.
              If you have trouble finding your way around our hospital, use
              <b>navigation.</b><br>
              Select building by <b>clicking</b> on it and choose source and destiniation room. <br>
              After that, <b>double-click</b> on selected building. Text navigation will appear in 'Information' of
              room map
            </span>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>


  <!-- 
  <div class="container">
    <div class="item-container item-container-left">
      <div id="svgDiv" class="mapa" text-align="left" style="height: 580px; width: 880px;">
      </div>
    </div>
    <div class="item-container item-container-right">
      <div class="floor-options-inner">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Description">
            <div class="description-content">
              <div *ngIf="selectedFloor === undefined">
                <mat-label class="add-data">Click on floor for additional data!</mat-label>
              </div>
              <div *ngIf="selectedFloor !== undefined" class="update-form">
                <mat-form-field appearance="fill">
                  <mat-label>Floor </mat-label>
                  <input matInput disabled [value]="selectedFloor.id">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Floor Area</mat-label>
                  <input matInput [value]="selectedFloor.area.measure">
                </mat-form-field>
                <button class="confirmButton update-btn" mat-flat-button color="primary">
                  Apply changes
                </button>
              </div>
            </div>

          </mat-tab>
          <mat-tab label="Renovation">
            <div class="option-container">
              <button mat-flat-button color="primary" (click)="toggleCreate()"
                class="renovation-buttons"><mat-icon>add</mat-icon>Add new floor
              </button>
            </div>
          </mat-tab>
          <mat-tab label="Information">
            <div class="info-content">
              <span class="info">You are currently in building: <b>{{buildingId}}</b>.
                <br>
                In order to see further information about floor rooms, <b>double-click</b>
                on floor of interest.</span>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div> -->