<div class="side-menu" [@menuLoading]="true">
    <ng-container *ngIf="role === 'Doctor'">
        <div class="center-menu">
            <div class="item" style="margin-top: 7px" (click)="toggleBurger()">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            </div>
            <a [routerLink]="'/doctor/appointments'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <div class="tooltip">Home</div>
                </div>
            </a>
            <a [routerLink]="'/doctor/records'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="assignment"></mat-icon>
                    <div class="tooltip">Records</div>
                </div>
            </a>
            <a [routerLink]="'/doctor/annual-leaves'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sunny"></mat-icon>
                    <div class="tooltip">Vacations</div>
                </div>
            </a>
            <a [routerLink]="'/doctor/blood-consumption'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bloodtype"></mat-icon>
                    <div class="tooltip">Blood Consumption</div>
                </div>
            </a>
            <a [routerLink]="'/doctor/consilium'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                        fontIcon="perm_contact_calendar"></mat-icon>
                    <div class="tooltip">Consilium</div>
                </div>
            </a>
        </div>
        <div class="bottom-menu">
            <div class="item" (click)="onLogout()">
                <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                    fontIcon="logout"></mat-icon>
                <div class="tooltip">Logout</div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="role == 'Manager'">
        <div class="center-menu">
            <div class="item" style="margin-top: 7px">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
            </div>
            <a [routerLink]="'/manager/building-map'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room"></mat-icon>
                    <div class="tooltip">Map</div>
                </div>
            </a>
            <a [routerLink]="'/manager/statistics'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="assessment"></mat-icon>
                    <div class="tooltip">Statistics</div>
                </div>
            </a>
            <a [routerLink]="'/manager/annual-leave'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sunny"></mat-icon>
                    <div class="tooltip">Vacations</div>
                </div>
            </a>
            <a [routerLink]="'/manager/feedback'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="feedback"></mat-icon>
                    <div class="tooltip">Feedbacks</div>
                </div>
            </a>
            <a [routerLink]="'/manager/rooms'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    <div class="tooltip">Rooms</div>
                </div>
            </a>
            <a [routerLink]="'/manager/malicious-patients'">
                <div class="item">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="block"></mat-icon>
                    <div class="tooltip">Malicious Patients</div>
                </div>
            </a>
        </div>
        <div class="bottom-menu">
            <div class="item" (click)="onLogout()">
                <mat-icon aria-hidden="false" class="mat-icon-rtl-mirror" aria-label="Example home icon"
                    fontIcon="logout"></mat-icon>
                <div class="tooltip">Logout</div>
            </div>
        </div>
    </ng-container>

</div>