<div>
    <form [formGroup]="radioForm" class="template-form-box">
        <h3>Chose the type of medicine to prescribe</h3>
        <label>
            <input type="radio" value=1 formControlName="radioSelected" name="radioSelected" checked>
            Blood therapy
        </label>
        <label>
            <input type="radio" value=2 formControlName="radioSelected" name="radioSelected">
            Medicine therapy
        </label>
        <span *ngIf="this.radioForm.get('radioSelected')!.value == 1">
            <app-give-blood-therapy></app-give-blood-therapy>
        </span>
        <span *ngIf="this.radioForm.get('radioSelected')!.value != 1">
            <app-give-medicine-therapy></app-give-medicine-therapy>
        </span>
    </form>
</div>