<!-- <div class="graph-wrapper">
    <div class="full-canvas-wrapper">
        <app-loader [isLoading]="stepAverageLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="stepAverageData" [options]="stepAverageOptions"></canvas>
    </div>
    <div class="full-canvas-wrapper">
        <app-loader [isLoading]="timeOnStepLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="timeOnStepData" [options]="timeOnStepOptions"></canvas>
    </div>
    <div class="full-canvas-wrapper">
        <app-loader [isLoading]="timePerAgeLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="timePerAgeData" [options]="timePerAgeOptions"></canvas>
    </div>
    <div>
        <p class="horizontalSpace"></p>
        <input type="number" min="0" max="300" [(ngModel)]="fromAge" (blur)="agesFocusOut()" style="width: 130px; font-size: 50pt; display: inline-block;">
        <p class="horizontalSpace"></p>
        <p style="font-size: 40pt; display: inline-block;"> to </p>
        <p class="horizontalSpace"></p>
        <input type="number" min="0" max="300"  [(ngModel)]="toAge" (blur)="agesFocusOut()"  style="width: 130px; font-size: 50pt; display: inline-block;">
        <p class="horizontalSpace"></p>
        <button mat-stroked-button type="Submit" class="button" (click)="changeStatistics()">Submit</button>
    </div>
    <div class="full-canvas-wrapper">
        <app-loader [isLoading]="averageScheduleLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="averageScheduleData" [options]="averageScheduleOptions"></canvas>
    </div>
    <div class="full-canvas-wrapper">
        <app-loader [isLoading]="quitOnStepLoading"></app-loader>
        <canvas baseChart [type]="'bar'" [data]="quitOnStepData" [options]="quitOnStepOptions"></canvas>
    </div>
    <div>
    <div>
    <p>Average time per step when its longer that 30 seconds</p>
    </div>
    <table>
    <thead>
        <tr>
          <th>Date Step</th>
          <th>Speciality Step</th>
          <th>Doctor Step</th>
          <th>Time Step</th>
          <th>Scheduled Step</th>
        </tr>
        </thead>
        <tr>
            <td>{{this.longTermedSteps?.dateStep}}</td>
            <td>{{longTermedSteps?.specialityStep}}</td>
            <td>{{longTermedSteps?.doctorStep}}</td>
            <td>{{longTermedSteps?.timeStep}}</td>
            <td>{{longTermedSteps?.finishedStep}}</td>
        </tr>
    </table>
</div>
</div> -->
<div class="graph-wrapper">
    <div class="canvas-wrapper">
        <app-loader [isLoading]="timeOnStepMore30SecondsLoading"></app-loader>
        <canvas id="bar-times-on-step-more-30-seconds"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="quitOnStepLoading"></app-loader>
        <canvas id="bar-quit-on-step"></canvas>
    </div>
    <div class="full-canvas-wrapper">
        <div class="canvas-wrapper-inner">
            <app-loader [isLoading]="timePerAgeLoading"></app-loader>
            <canvas id="bar-per-age-count"></canvas>
        </div>
        <div class="input-wrapper">
            <h2 class="input-text">Choose age for calculating average time spent on scheduling</h2>
            <mat-form-field appearance="fill">
                <mat-label>From age</mat-label>
                <input matInput type="number" min="0" max="300" [(ngModel)]="fromAge" (blur)="agesFocusOut()">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>To age</mat-label>
                <input matInput type="number" min="0" max="300" [(ngModel)]="toAge" (blur)="agesFocusOut()">
            </mat-form-field>
                <button mat-stroked-button (click)="changeStatistics()">Submit</button>
        </div>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="timeOnStepLoading"></app-loader>
        <canvas id="bar-time-on-step"></canvas>
    </div>
    <div class="canvas-wrapper">
        <app-loader [isLoading]="stepAverageLoading"></app-loader>
        <canvas id="bar-avg-on-step"></canvas>
    </div>
</div>
