.graph-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 20px;
    padding: 50px 0;
}
canvas{
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
}

.canvas-wrapper {
    position: relative;
    max-height: 400px;
    min-width: 40%;
}

.canvas-wrapper-inner { 
    max-height: 400px;
    min-width: 60%;
    position: relative;
}
.input-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-height: 400px;
    min-width: 60%;
    padding-bottom: 32px;
}

.mat-stroked-button {
    color: #fff !important;
    background-color: #3f51b5;
    width: 50%;
    font-size: x-large;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}
.input-text{
    text-align: center;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 24px;
    line-height: 50px;
    width: 80%;
}

.full-canvas-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 400px;
    min-height: 400px;
    min-width: calc(90% + 20px);
    max-width: calc(90% + 20px);
}
.mat-form-field{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }