<div class="box">
		<span class="text-center">Create advertisements</span>
	<div class="input-container">
    <input id="lbl" type="text" required=""  [(ngModel)]="commercial.title" /> 
		<label >Title</label>		
	</div>
	<div class="input-container">		
		<input id="lbl" type="text" required="" [(ngModel)]="commercial.text"/>
		<label>Text</label>
	</div>

	<div id="fileDiv">
		<label for="inputTag" >
		<div id="centerDiv" [style.display]="(commercial.pictureUrl == '') ? 'block' : 'none'">
			<div id="image-info-container">
				<p id="paragraph" >Select Image </p>
				<mat-icon class="icon-display" aria-hidden="false" aria-label="Example home icon" fontIcon="camera"></mat-icon>
			</div>
		</div>
		  <img [style.display]="(commercial.pictureUrl != '') ? 'block' : 'none'" src="https://pdphmpovyeiqspzsxqzq.supabase.co/storage/v1/object/public/photos/{{commercial.pictureUrl}}" class="selected-img" accept="image/gif, image/jpg, image/jpeg, image/png" style="width:100%;height:100%">
		  <input type="file" id="inputTag" class="file-design" style="float:left;" (change)="rememberEvent($event)" />
		</label>
	  </div>
	  <button type="button" class="btn" (click)="selectFile();createCommercial();clearForm()">submit</button>
</div>