<div class="box">
		<span class="text-center">Create advertisements</span>
	<div class="input-container">
    <input type="text" id="form2Example1" class="form-input input__field" [(ngModel)]="commercial.title" /> 
		<label>Title</label>		
	</div>
	<div class="input-container">		
		<input type="text" required="" [(ngModel)]="commercial.text"/>
		<label>Text</label>
	</div>
  
  <div style="vertical-align:center;">
    <input type="file" size="60" class="file-design" style="float:left;" (change)="rememberEvent($event)" />
    <img [style.visibility]="(commercial.pictureUrl != '')? 'visible' : 'hidden'" src="https://pdphmpovyeiqspzsxqzq.supabase.co/storage/v1/object/public/photos/{{commercial.pictureUrl}}" class="selected-img" width="120px" height="120px">
  </div>
		<button type="button" class="btn" (click)="selectFile();createCommercial()">submit</button>
</div>