<div class="container">
    <div class="table-header">
        <p class="table-title">Annual leaves</p>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Doctor </th>
            <td mat-cell *matCellDef="let annualLeave" class="clickable cell-center">{{annualLeave.doctor.name}} {{annualLeave.doctor.surname}}</td>
        </ng-container>
        <ng-container matColumnDef="Starting">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Starting </th>
            <td mat-cell *matCellDef="let annualLeave" class="cell-center">{{annualLeave.starting}}</td>
        </ng-container>
        <ng-container matColumnDef="Ending">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Ending </th>
            <td mat-cell *matCellDef="let annualLeave" class="cell-center">{{annualLeave.ending}}</td>
        </ng-container>
        <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> State </th>
            <td mat-cell *matCellDef="let annualLeave" class="cell-center">{{annualLeave.state}}</td>
        </ng-container>
        <ng-container matColumnDef="Urgent">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Urgent </th>
            <td mat-cell *matCellDef="let annualLeave" class="cell-center">{{annualLeave.urgent}}</td>
        </ng-container>
        <ng-container matColumnDef="Review">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let annualLeave" class="cell-center">
                <button mat-icon-button (click)="reviewAnnualLeave(annualLeave.id)">
                    <mat-icon matTooltip="review">edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
